In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder 
import pickle
import numpy as np
from tensorflow.keras.models import load_model

In [28]:
## load model 
model = load_model('model.h5')

with open('ohe_gen.pickle','rb') as file:
    ohe_gen = pickle.load(file)

with open('ohe_geo.pickle','rb') as file:
    ohe_geo = pickle.load(file)

with open('scaler.pickle','rb') as file:
    scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [29]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [30]:
geo_encoded = ohe_geo.transform([[input_data['Geography']]])
geo_encoded = pd.DataFrame(geo_encoded,columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded

c:\Users\Aaru\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [31]:
gen_encoded = ohe_gen.transform([[input_data['Gender']]])
gen_encoded = pd.DataFrame(gen_encoded,columns=ohe_gen.get_feature_names_out(['Gender']))
gen_encoded

c:\Users\Aaru\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Gender_Female  Gender_Male
0            0.0          1.0

In [32]:
input_df = pd.DataFrame([input_data])

In [33]:
input_df.drop(columns=['Gender','Geography'],inplace=True)

In [34]:
input_df = pd.concat([input_df,gen_encoded,geo_encoded],axis=1,ignore_index=False)
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,600,40,3,60000,2,1,1,50000,0.0,1.0,1.0,0.0,0.0

In [37]:
input_scaled = scaler.transform(input_df)

In [38]:
prediciton=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 140ms/step

In [39]:
print(prediciton)

[[0.02958833]]

In [40]:
if prediciton >0.5:
    print("Likely to churn")
else:
    print("Will not churn")

Will not churn